.control_panel
{
    text-align:         right;
    margin:             10px;
}
.control_panel > div:hover
{
    color:              rgba(0, 0, 0, 1);
    border-color:       rgba(0,0,0,1);
}
.control_panel > .machine_estop
{
    display:            inline-flex;
    height:             80px; 
    width:              80px; 
    align-items:        center;
    padding:            0;
    margin:             0 5px 0 5px;
    overflow:           hidden;
    vertical-align:     middle;
    border-radius:      80px;
    border:             3px solid rgba(0,0,0,0.3);
    background:         rgba(255,0,0,0.7);
    cursor:             pointer;
    transition:         all 200ms linear;
    box-sizing:         border-box;
    color:              white;
}
.control_panel > .machine_estop > *
{
    width:              99%; 
    font-size:          110%;
    font-weight:        bold;
    text-align:         center;
}
.control_panel > .machine_off,
.control_panel > .machine_on,
.control_panel > .program_play,
.control_panel > .program_pause,
.control_panel > .program_abort
{
    display:            inline-flex;
    height:             40px; 
    width:              40px; 
    align-items:        center;
    padding:            0;
    margin:             0;
    vertical-align:     middle;
    overflow:           hidden;
    border-radius:      40px;
    border:             2px solid rgba(0,0,0,0.1);
    cursor:             pointer;
    transition:         all 200ms linear;
    box-sizing:         border-box;
}
.control_panel > .machine_off,
.control_panel > .machine_on
{
    border-color:       rgba(0,0,0,0.2);
    color:              rgba(0, 0, 0, 0.5);
    font-size:          110%;
}
.control_panel > .machine_off
{
    background:         rgba(255,0,0,0.3);
}
.control_panel > .machine_on
{
    margin-left:        4px;
    background:         rgba(0,255,0,0.3);
}
.control_panel > .program_play,
.control_panel > .program_pause,
.control_panel > .program_abort
{
    background:         rgba(0,0,0,0.05);
    color:              rgba(0, 0, 0, 0.3);
}
.control_panel > .program_play
{
    font-size:          200%;
    padding-left:       1%;
    padding-bottom:     0.5%;
}
.control_panel > .program_pause
{
    margin-left:        3px;
    font-size:          180%;
    padding-bottom:     1%;
}
.control_panel > .program_abort
{
    margin-left:        3px;
    font-size:          250%;
    padding-bottom:     3%;
}
.control_panel > .machine_off > *,
.control_panel > .machine_on > *,
.control_panel > .program_play > *,
.control_panel > .program_pause > *,
.control_panel > .program_abort > *
{
    width:              99%; 
    font-weight:        bold;
    text-align:         center;
}
