@charset "utf-8";

/*
    JOG panel
*/

/* JOG table */
.JOG
{
    display:            inline-block;
    min-width:          calc( 4*40px + 2*50px + 5*8px );
    margin:             10px;
}




/* general style for rows and cells */
.JOG > .row {
    text-align:         left;
    margin-top:         8px;
}
.JOG > .row.strong {
    height:             40px; 
}
.JOG > .row:first-child {
    margin-top:         0;
}
.JOG > .row > .cell {
    display:            inline-flex;
    height:             40px; 
    width:              40px; 
    align-items:        center;
    padding:            0;
    margin:             0 0 0 8px;
    vertical-align:     top;
    overflow:           hidden;
    border-radius:      3px;
    border:             1px solid rgba(0,0,0,0.1);
    background:         rgba(0,0,0,0);
    cursor:             pointer;
    transition:         all 200ms linear;
    box-sizing:         border-box;
}
.JOG > .row > .cell:hover {
    border-color:       rgba(0,0,0,0.8) !important;
    background-color:   rgba(0,0,0,0.2) !important;
}
.JOG > .row > .cell:first-child {
    margin-left:        0;
}
.JOG > .row > .cell > * {
    font-size:          75%;
    width:              99%; 
    text-align:         center;
    /*outline:1px solid red; */
}




.JOG > .row > .cell.axis_horiz { height: 50px; }
.JOG > .row > .cell.axis_vert { width: 50px; }

.JOG > .row > .cell.L1_axes { background: rgba(0,0,0,0.03); }

.JOG > .row > .cell.axis { border: 2px solid rgba(0,0,0,0.3); }
.JOG > .row > .cell.x { background: rgba(0,255,0,0.1); }
.JOG > .row > .cell.y { background: rgba(0,0,255,0.1); }
.JOG > .row > .cell.z { background: rgba(255,0,0,0.1); }
.JOG > .row > .cell.a { background: rgba(255,255,0,0.1); }
.JOG > .row > .cell.b { background: rgba(0,255,255,0.1); }
.JOG > .row > .cell.c { background: rgba(255,0,255,0.1); }

.JOG > .row > .cell.home { border: 3px solid rgba(0,0,0,0.5); }
.JOG > .row > .cell.home_xy { background: rgba(0,255,255,0.2); }
.JOG > .row > .cell.home_z { background: rgba(255,0,0,0.3); }
.JOG > .row > .cell.home_a { background: rgba(255,255,0,0.3) }
.JOG > .row > .cell.home_b { background: rgba(0,255,255,0.3); }
.JOG > .row > .cell.home_c { background: rgba(255,0,255,0.3); }
.JOG > .row > .cell.home_all { background: rgba(192,128,0,0.3); }
.JOG > .row > .cell.stop_all { 
    position:       relative;
    top:            calc(-40px - 8px);
    height:         calc(2*40px + 8px);
    background:     rgba(255,128,0,0.5);
    font-weight:    bold;
}




/* input table */
.JOG .inputs
{
    padding-top:    8px;
    width:          calc( 4*40px + 2*50px + 5*8px );
}

/* all cells */
.JOG .inputs > div
{
    display:        inline-block;
    margin-left:    1%;
    text-align:     center;
}
.JOG .inputs > div:first-child
{
    margin-left:    0;
}

/* input cells width */
.JOG .inputs > .input1 { width: 15%; } /* BEFORE */
.JOG .inputs > .input2 { width: 15%; } /* CMD */
.JOG .inputs > .input3 { width: 13%; } /* L1 */
.JOG .inputs > .input4 { width: 17%; } /* L2 */
.JOG .inputs > .input5 { width: 20%; } /* FEED */
.JOG .inputs > .input6 { width: 15%; } /* AFTER */

/* input elements */
.JOG .inputs > div > input
{
    padding:        4px 2px 2px 2px;
    margin:         0 0 3px 0;
    width:          100%;
    text-align:     center;
    vertical-align: middle;
    font-size:      120%;
    border:         1px solid rgba(0,0,0,0.5);
    border-radius:  3px;
    background:     rgba(255,128,0,0.1);
    box-sizing:     border-box;
    font-weight:    bold;
    text-transform: uppercase;
}
.JOG .inputs > .input3 > input { color: blue; } /* L1 */
.JOG .inputs > .input4 > input { color: red; } /* L2 */
.JOG .inputs > .input5 > input { color: green; } /* feed */

/* all description cells */
.JOG .inputs > div > .desc
{
    font-size:      80%;
    text-transform: uppercase;
    color:          rgba(0,0,0,0.7);
}




/* JOG settings tab */
.settings > .settings_tabs_content > div > .hotkeys_state_box
{
    padding-bottom: 10px;
    text-align:     right;
}
.settings > .settings_tabs_content > div > .hotkeys_state_box > input[type="checkbox"]
{
    vertical-align: top;
}
.settings > .settings_tabs_content > div > .hotkeys_state_box > label
{
    display:        inline-block;
    padding:        1px 0 0 0;
    text-transform: uppercase;
    color:          rgba(0, 0, 192, 0.8);
}
.settings > .settings_tabs_content > div > .jog_hotkey_box
{
    display:        inline-block;
    min-width:      48%;
    margin:         0 0 5px 0;
}
.settings > .settings_tabs_content > div > .jog_hotkey_box > b
{
    display:        inline-block;
    min-width:      100px;
    font-style:     normal;
    padding:        2px 4px 2px 4px;
    border:         1px solid rgba(0, 0, 0, 0);
    border-radius:  2px;
    cursor:         default;
}
.settings > .settings_tabs_content > div > .jog_hotkey_box > i
{
    font-style:     normal;
}
.settings > .jog_settings_hotkey_edit
{
    display:        none;
    text-align:     center;
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;
    background:     rgba(0, 0, 0, 0.7);
}
.settings > .jog_settings_hotkey_edit > .box
{
    display:        inline-block;
    position:       absolute;
    top:            37%;
    left:           20%;
    right:          20%;
    padding:        20px;
    border:         1px solid rgba(255, 255, 255, 0.7);
    border-radius:  8px;
    background:     rgba(255, 255, 255, 0.9);
    box-shadow:     0px 0px 16px rgba(255, 255, 255, 0.5);
}
.settings > .jog_settings_hotkey_edit > .box > .key_name
{
    font-weight:    bold;
}
.settings > .jog_settings_hotkey_edit > .box > input
{
    display:        block;
    text-align:     center;
    width:          100%;
    margin:         10px 0 20px 0;
    padding:        4px;
}
