@charset "utf-8";

/*
    GENERAL
*/

body
{
    margin:         0;
    padding:        10px;

    background:     white;

    font:           10pt Tahoma, arial, helvetica, sans-serif;
    color:          black;
    text-align:     left;
}

.main
{
    empty-cells:    show;
    width:          100%;
    height:         100%;
    font:           10pt Tahoma, arial, helvetica, sans-serif;
    color:          black;
    text-align:     left;
}
.main > tbody > tr > .left
{
    width:          10%;
    vertical-align: top;
}
.main > tbody > tr > .center
{
    position:       relative;
    width:          80%;
    vertical-align: top;
}
.main > tbody > tr > .right
{
    width:          10%;
    vertical-align: top;
}
