@charset "utf-8";

.position
{
    min-width:      250px;
    margin:         10px;
}
.position > .position_box
{
    margin-bottom:  3px;
}
.position > .position_box > .axis_name
{
    display:        inline-block;
    min-width:      20px;
    padding:        3px;
    font-weight:    bold;
    font-size:      150%;
    border:         1px solid rgba(0, 0, 0, 0.2);
    border-radius:  3px;
    text-align:     center;
    text-transform: uppercase;
    color:          rgba(0,0,0,0.8);
}
.position > .position_box > .x_axis_name
{
    background:     rgba(0,255,0,0.2);
}
.position > .position_box > .y_axis_name
{
    background:     rgba(0,0,255,0.2);
}
.position > .position_box > .z_axis_name
{
    background:     rgba(255,0,0,0.2);
}
.position > .position_box > .a_axis_name
{
    background:     rgba(255,255,0,0.2);
}
.position > .position_box > .b_axis_name
{
    background:     rgba(0,255,255,0.2);
}
.position > .position_box > .c_axis_name
{
    background:     rgba(255,0,255,0.2);
}
.position > .position_box > .axis_value
{
    display:        inline-block;
    width:          160px;
    padding:        3px 5px 3px 5px;
    border:         1px solid rgba(0, 0, 0, 0.3);
    border-radius:  3px;
    font-weight:    bold;
    font-size:      150%;
    font-family:    inherit;
    text-align:     left;
    background:     rgba(0,0,0,0.02);
}
.position > .position_box > .axis_reset
{
    display:        inline-block;
    min-width:      20px;
    padding:        3px;
    font-weight:    bold;
    font-size:      150%;
    border:         1px solid rgba(0, 0, 0, 0.2);
    border-radius:  3px;
    text-align:     center;
    text-transform: uppercase;
    color:          rgba(0,0,0,0.2);
    transition:     all 200ms linear;
}
.position > .position_box > .axis_reset:hover
{
    border:         1px solid rgba(0, 0, 0, 0.8);
    color:          rgba(255,0,0,0.8);
    cursor:         pointer;
}

.position > .position_type_box
{
    margin-bottom:  3px;
}
.position > .position_type_box > .pos_type_select
{
    display:        inline-block;
    width:          172px;
    padding:        3px 5px 3px 5px;
    font-family:    inherit;
    border-radius:  3px;
}
.position > .position_type_box > .pos_coord_sys_select
{
    display:        inline-block;
    width:          70px;
    padding:        3px 5px 3px 5px;
    font-family:    inherit;
    border-radius:  3px;
}

.position > .position_box > .axis_limits_box
{
    display:        inline-block;
    vertical-align: top;
}
.position > .position_box > .axis_limits_box > .axis_limit
{
    width:          16px;
    background:     rgba(0, 255, 0, 0.2);
    border:         1px solid rgba(0, 0, 0, 0.2);
    transition:     all 200ms linear;
}
.position > .position_box > .axis_limits_box > .max_limit
{
    height:         14px;
    border-bottom:  0px solid;
    border-radius:  3px 3px 0px 0px;
}
.position > .position_box > .axis_limits_box > .min_limit
{
    height:         15px;
    border-radius:  0px 0px 3px 3px;
}
.position > .position_box > .axis_limits_box > .limit_hard
{
    background:     rgba(255, 0, 0, 0.5) !important;
}
.position > .position_box > .axis_limits_box > .limit_soft
{
    background:     rgba(255, 255, 0, 0.5) !important;
}
