@charset "utf-8";

.tabs_panel
{
    display:        none;
    position:       absolute;
    top:            10px;
    left:           10px;
    right:          10px;
    bottom:         157px;
    overflow:       auto;
    text-align:     left;
    box-sizing:     border-box;
}
.tabs_panel > .tabs_titles > div
{
    display:        inline-block;
    padding:        5px 8px 4px 8px;
    max-height:     28px;
    height:         28px;
    background:     rgba(0, 0, 0, 0.01);
    border:         1px solid rgba(0, 0, 0, 0.1);
    border-bottom:  0px solid;
    border-radius:  5px 5px 0 0;
    cursor:         pointer;
    color:          rgba(0, 0, 0, 0.2);
    font-weight:    bold;
    transition:     all 200ms linear;
    box-sizing:     border-box;
}
.tabs_panel > .tabs_titles > div:hover
{
    border-color:   rgba(0, 0, 0, 1);
    color:          rgba(0, 0, 0, 1);
}
.tabs_panel > .tabs_titles > .active_tab
{
    border-color:   rgba(0, 0, 0, 1);
    background:     rgba(0, 0, 0, 0.1) !important;
    color:          rgba(0, 0, 0, 1);
}
.tabs_panel > .tabs_contents
{
    position:       absolute;
    top:            28px;
    left:           0px;
    right:          0px;
    bottom:         0px;
    overflow:       auto;
    border:         1px solid rgba(0, 0, 0, 1);
    background:     rgba(0,0,0,0.01);
    box-sizing:     border-box;
}
.tabs_panel > .tabs_contents > div
{
    padding:        10px;
    overflow:       auto;
    box-sizing:     border-box;
}
.tabs_panel > .tabs_contents > div:not(:first-child)
{
    display:        none;
}
.tabs_panel > .tabs_contents > div table
{
    font-size:      100%;
}




/* fieldset styles */
.tabs_panel > .tabs_contents > div fieldset
{
    border:         1px dotted rgba(0,0,0,0.3);
    margin-bottom:  10px;
    background:     rgba(0,0,0,0.02);
}
.tabs_panel > .tabs_contents > div fieldset > legend
{
    font-weight:    bold;
    padding:        1px 10px 3px 10px;
    border:         1px dotted rgba(0,0,0,0.6);
    border-radius:  4px;
    background:     rgba(0,0,0,0.05);
    color:          #400000;
}
