.log_panel
{
    position:       absolute;
    left:           10px;
    right:          10px;
    bottom:         10px;
    height:         100px;
    border:         1px solid rgba(0, 0, 0, 1);
    overflow:       auto;
}
.log_panel > .clear
{
    position:       absolute;
    right:          5px;
    top:            5px;
    border:         1px solid rgba(255, 0, 0, 0.5);
    border-radius:  20px;
    padding:        0px 5px;
    cursor:         pointer;
    color:          red;
    transition:     all 200ms linear;
}
.log_panel > .clear:hover
{
    background:     rgba(255, 0, 0, 0.2);
}
.log_panel > .msg
{
    margin:         5px;
}
.log_panel > .msg > .time
{
    font-weight:    bold;
}
.log_panel > .msg > .text
{
}
