body {
    background-color: rgba(255, 255, 255, 0);
}
h2 {
    margin-bottom: 12px;
}
table {
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: rgba(255, 0, 0, 0.9) !important;
    text-decoration: underline;
}
th, td {
    font-family: "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
}
th {
    font-weight: bold;
    padding-right: 14px;
    padding-bottom: 3px;
    text-align: right;
}
th a {
    color: rgba(128, 0, 0, 1);
}
th:first-child, th:last-child {
    text-align: left;
}
td {
    padding-right: 14px;
    text-align: left;
}
td:first-child {
    word-wrap: break-word;
    max-width: 250px;
}
td.s, th.s {
    text-align: right;
}
td.n a.folder {
    color: rgba(200, 200, 0, 1);
}
td.n a.file {
    color: rgba(0, 0, 255, 1);
}
