@charset "utf-8";

.program_tools 
{
    box-sizing: border-box;
    margin-bottom: 5px;
}
.program_tools > .icon_group
{
    display: inline-block;
    box-sizing: border-box;
    margin: 0 20px 5px 0;
}
.program_tools > .icon_group > .icon
{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 5px 4px 5px;
    margin-right: 4px;
    font-size: 100%;
    transition: all 200ms linear;
    cursor: pointer;
    min-width: 24px;
    min-height: 24px;
    max-width: 200px;
    white-space: pre;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.program_tools > .icon_group > .icon:hover
{
    border-color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.program_tools > .icon_group > .dir
{
    background: rgba(255, 255, 0, 0.2);
}
.program_tools > .icon_group > .file
{
    background: rgba(0, 0, 255, 0.1);
}
.program_tools > .icon_group > .icon.open_file
{
    background: rgba(255, 255, 0, 0.2);
}
.program_tools > .icon_group > .icon.reload_file
{
    background: rgba(255, 0, 255, 0.2);
}
.program_tools > .icon_group > .icon.save_file
{
    background: rgba(0, 0, 255, 0.2);
}

.program_tools > .icon_group > .icon.play_program
{
    background: rgba(64, 255, 64, 0.2);
}
.program_tools > .icon_group > .icon.pause_program
{
    background: rgba(128, 0, 128, 0.2);
}
.program_tools > .icon_group > .icon.step_program
{
    background: rgba(32, 0, 255, 0.2);
}
.program_tools > .icon_group > .icon.abort_program
{
    background: rgba(255, 0, 0, 0.2);
}




.program_box
{
    position: absolute;
    top: 45px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0;
    overflow: auto;
}

.program_box > .state_line
{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 24px;
    overflow: hidden;
    font-size: 100%;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px 5px 2px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.3); 
    box-sizing: border-box;
}
.program_box > .state_line > .current_line
{
    font-weight: bold;
}

.program_box > .program_text
{
    border: 0px solid;
    border-radius: 3px; 
    font-family: "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 100%;
    background: rgba(0,0,0,0.02);
    padding: 1px;
    margin: 0;
    width: 100%;
    height: calc(100% - 24px);
    box-sizing: border-box;
    overflow: auto;
    white-space: nowrap;
}

.program_box > .program_text > .page
{
    font-size: 100%;
    padding: 0;
    margin: 0;
}
.program_box > .program_text > .page.hidden
{
    display: none;
}
.program_box > .program_text > .page > .line_numbers
{
    display: inline-block;
    white-space: pre;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 4px 0 4px;
    margin: 0;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0,0,0,0.05);
}
.program_box > .program_text > .page > .text
{
    display: inline-block;
    white-space: pre;
    font-size: 100%;
    padding: 0 0 0 4px;
    margin: 0;
    vertical-align: top;
}

.program_box > .program_text > .page > .comment { color: #999999; }
.program_box > .program_text > .page > .g_code { color: #FFAA55; font-weight: bold; }
.program_box > .program_text > .page > .m_code { color: #77FF11; font-weight: bold; }
.program_box > .program_text > .page > .s_code { color: #9900FF; font-weight: bold; }
.program_box > .program_text > .page > .f_code { color: #FFFF55; font-weight: bold; }
.program_box > .program_text > .page > .xaui_code { color: green; }
.program_box > .program_text > .page > .ybvj_code { color: blue; }
.program_box > .program_text > .page > .zcwk_code { color: red; }
