@charset "utf-8";

.explorer_tools 
{
    box-sizing: border-box;
    margin-bottom: 5px;
}
.explorer_tools > .icon_group
{
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px 5px 0;
}
.explorer_tools > .icon_group.right
{
    float: right;
    margin: 0 0 5px 10px;
}
.explorer_tools > .icon_group > .icon
{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 5px 4px 5px;
    margin-right: 5px;
    font-size: 100%;
    transition: all 200ms linear;
    cursor: pointer;
    min-width: 24px;
    min-height: 24px;
    max-width: 200px;
    white-space: pre;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.explorer_tools > .icon_group > .icon.right
{
    margin-right: 0px;
    margin-left: 5px;
}
.explorer_tools > .icon_group > .icon:hover
{
    border-color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.explorer_tools > .icon_group > .dir
{
    background: rgba(255, 255, 0, 0.2);
}
.explorer_tools > .icon_group > .file
{
    background: rgba(0, 0, 255, 0.1);
}

.explorer_tools > .icon_group > .icon.upload_file
{
    background: rgba(255, 0, 255, 0.2);
}




.explorer_box
{
    position: absolute;
    top: 45px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0;
    overflow: auto;
}

.explorer_box > .explorer
{
    border: 0px solid;
    border-radius: 3px; 
    background: rgba(0,0,0,0.02);
    padding: 8px 5px 5px 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.explorer_box > .explorer > table 
{
    margin: 0;
}
.explorer_box > .explorer > table a 
{
    text-decoration: none !important;
}
.explorer_box > .explorer > table a:hover 
{
    color: rgba(255, 0, 0, 0.9) !important;
    text-decoration: underline !important;
}
.explorer_box > .explorer > table th, 
.explorer_box > .explorer > table td 
{
    font: Tahoma, arial, helvetica, sans-serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.5);
}
.explorer_box > .explorer > table th 
{
    font-weight: bold;
    padding-right: 14px;
    padding-bottom: 3px;
    text-align: right;
}
.explorer_box > .explorer > table th a 
{
    color: rgba(128, 0, 0, 1);
}
.explorer_box > .explorer > table th:first-child, 
.explorer_box > .explorer > table th:last-child 
{
    text-align: left;
}
.explorer_box > .explorer > table td 
{
    padding-right: 14px;
    text-align: left;
}
.explorer_box > .explorer > table td:first-child 
{
    word-wrap: break-word;
    max-width: 250px;
}
.explorer_box > .explorer > table td.s, 
.explorer_box > .explorer > table th.s 
{
    text-align: right;
}
.explorer_box > .explorer > table td.n a.folder 
{
    color: rgba(200, 200, 0, 1);
}
.explorer_box > .explorer > table td.n a.file 
{
    color: rgba(0, 0, 255, 1);
}
